---

---
@charset "utf-8";

@import "susy";

$susy: (
        columns: 12,
        gutters: .25,
        container: 960px,
);

body {
  margin: 1em 1em 1em 1em;
  font-family: Helvetica, Arial, sans-serif;;
  color: #333;
}

div {
  font-size: 1rem;
}

.site-header {
  @include container;
}

.address {
  @include span(3 of 12);
  text-align: left;
}

.title {
  @include span(6 of 12);
  margin-top: .25em;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.contact {
  @include span(3 of 12 last);
  text-align: right;
}

.icon {
  > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
  }
}

.label {
  font-weight: bold;
}

.social-media-header {
  list-style: none;
  margin-left: 0;
}

.page-content {
  @include container;
}

.section-header {
  clear: both;
  font-size: 1.5rem;
  border-bottom: solid #b50000 thin;
  //margin-top: 1em;
  //@include susy-clearfix;
  @include span(12);
}

.entry {
  padding-bottom: 2em;
  @include susy-clearfix;
}

.position, .sectionTitle, .date {
  font-weight: bold;
}

.position {
  @include span(7 of 12);
  text-align: left;
  margin-bottom: .5em;
}

.sectionTitle {
  @include span(8 of 12);
  text-align: left;
}

.date {
  @include span(4 of 12 last);
  text-align: right;
}

.summary {
  clear: both;
}

.workExperience, .portfolioSummary {
  @include susy-clearfix;
  @include span(12 of 12);
  margin-top: 0;
  padding-top: .5em;
}

.portfolioSummary {
  padding-bottom: 2em;
}

.bulletList {
  list-style: disc outside none;
  padding-left: 2em;
}

.publications {
  @include span(12);
  @include susy-clearfix;
  margin-top: .5em;
  li {
    margin-bottom: 1em;
  }
}

.skills {
  @include span(6 of 12);
  @include susy-clearfix;
  padding-bottom: 2em;
}

.skillsLast {
  @include span(6 of 12 last);
  @include susy-clearfix;
  padding-bottom: 2em;
}

.skillCategory {
  font-weight: bold;
  clear: both;
  margin-top: 1em;
}

.projectSkills {
  clear: both;
  li {
    font-size: 0.8rem;
    background: #B54B4B;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    position: relative;
    padding: 8px;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    line-height: 0;
  }
}

.description, .links {
  margin-top: .25em;
}

@media print {
  body {
    font-size: 10pt;
  }
}

@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
  body {
    margin-right: 5%;
  }
}