---

---
@charset "utf-8";

@import "susy";

body { @include container(800px); }

.address {
  @include span(4 of 12 first);
  text-align: left;
}

.title {
  @include span(4 of 12);
  text-align: center;
}

.contact {
  @include span(4 of 12 last);
  text-align: right;
}