<div>These are some of the projects and code samples I have worked on in recent years</div>
<ul class="workExperience">
  {% for project in site.data.portfolio.projects %}
  <li class="entry">
    <div class="sectionTitle">{{project.title}}</div>
    <div class="date">{{project.when}}</div>
    <ul class="projectSkills">
      {% for skill in project.skills %}
      <li>{{skill}}</li>
      {% endfor %}
    </ul>
    <div class="description">{{project.description}}</div>
    <ul class="links">
      {% for link in project.links %}
      <li><a href="{{link}}">{{link}}</a></li>
      {% endfor %}
    </ul>
  </li>
  {% endfor %}
</ul>