<div class="skills">
  {% for skillGroup in site.data.resume.skills%}
  {% assign value = forloop.index | modulo:2 %}
  {% if value == 0 %}
  <div class="skillCategory">{{skillGroup.category}}</div>
  <div>{{skillGroup.skills | join: ", "}}</div>
  {% endif %}
  {% endfor %}
</div>

<div class="skillsLast">
  {% for skillGroup in site.data.resume.skills%}
  {% assign value = forloop.index | modulo:2 %}
  {% if value != 0 %}
  <div class="skillCategory">{{skillGroup.category}}</div>
  <div>{{skillGroup.skills | join: ", "}}</div>
  {% endif %}
  {% endfor %}
</div>